@import "./config/variables";
@import "./config/media";
@import "./config/mixins";

.nav {
  padding-top: 15px;
  display: flex;

  & .hide-welcome {
  display: none;
  }

  & .nav-list-left {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 60%;

    & li a {
      font-weight: 900;
      text-decoration: none;
      color: $secondary-color;

      &:hover {
        border-bottom: 1px solid $orange-accent;
        cursor: pointer;
      };
    }
  & .active {
        color: $orange-accent;
      };
  }

  & .nav-list-right {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    padding-right: 20px;
    padding-top: 2px;

    & li a {
      font-weight: 900;
      text-decoration: none;
      color: $secondary-color;
      padding: 10px;
    }

    & button {
      padding: 2px;
      margin-left: 10px;
      color: $secondary-color;
      text-transform: lowercase;
    }
  }

  & .menu-btn {
    display: none;
  }

  & .small-nav-list {
    display: none;
  }
}

@include tablet {
  .nav {
    justify-content: flex-end;

    & .nav-list-right {
      width: 80%;
      font-size: .8rem;
    }

    & .menu-btn {
      display: block;
      position: absolute;
      top: .5rem;
      left: 1rem;
      z-index: 2;

      & .btn {
        font-size: 1.7rem;
        cursor: pointer;
      }
    }

    & .nav-list-left {
    display: none;
    }

    & .small-nav-list {
      height: 100vh;
      position: absolute;
      z-index: 1;
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: 
      linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.9),
      );

      & .small-menu-list {
        list-style-type: none;
        color: $secondary-color;
        font-weight: 900;
      
      & li {
        padding: 20px;
        font-size: 1.3rem;

        & a {
          text-decoration: none;
          color: $secondary-color;

          &:Hover {
            border-bottom: 1px solid $orange-accent;
          }
        }
      }
    }
    }
  }
}
