@import "./config/variables";
@import "./config/media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$imgKey: random(5);
$list: amex, anfield, bramall, carrow, emirates, etihad, goodison, kingPower, london, molineaux, oldtrafford, selhurst, spurs, stamford, stjames, stmarys, turfmoor, vicarage, villa, vitality;
$nth: nth($list, $imgKey);

.App {
	overflow-y: scroll;
	height: 100vh;
	backgound-attachment: fixed;
	font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
	background-image: 
			linear-gradient(
    			to right,
    			rgba($primary-color, 0.9),
    			rgba($primary-color, 0.7),
  			), url("../images/#{$nth}.JPG");
	background-size: cover;
}

@import "./home/home.scss";
@import "./home/forgot.scss";
@import "./home/reset.scss";
@import "./dashboard/nav.scss";

.container {
	text-align: center;
	color: $secondary-color;

	& .welcome-container {
		height: 60vh;
		display: flex;
		justify-content: center;

		& .welcome {
			margin: 0px 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			& h1 {
				padding: 20px 0px;
			}

			& a {
				color: $secondary-color;

				&:Hover {
					color: $orange-accent;
				}
			}

			& p {
				padding: 5px;
			}
		}
	}
}

@import "./dashboard/picks.scss";
@import "./dashboard/standings.scss";
@import "./dashboard/history.scss";

