@mixin error-message {
	color: #92140C;
	font-size: .8rem;
	text-align: center;
}

// MEDIA MIXINS --------------------------------------
@mixin phone {
  @media screen and (max-width: 600px) {
    @content;
  }
}